threadpoolctl==3.1.0
tifffile==2022.2.9
--extra-index-url https://download.pytorch.org/whl/cu113
torchmetrics==0.7.2
--extra-index-url https://download.pytorch.org/whl/cu113
tqdm==4.63.0
traceback2==1.4.0
typing_extensions==4.1.1
unittest2==1.1.0
urllib3==1.26.8
walkdir==0.4.1
wandb==0.12.11
Werkzeug==2.0.3
wrapt==1.14.1
ws4py==0.5.1
yarl==1.7.2
yaspin==2.1.0
zarr==2.11.1
zipp==3.7.0
